@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic,700,700italic);

* {
	box-sizing: border-box;
}

body {
	font-family: 'Gentium Basic', serif;
	margin: 0;
	float: left;
	width: 100vw;
	>header {
		padding: 0 0.5rem;
	}
	>nav {
		width: 100%;
		float: left;
		margin-bottom: 0.5rem;
		padding: 0.5rem;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			float: left;
			list-style-type: none;
			margin-right: 0.5rem;
		}
	}
}

input {
	&[type=editable] {
		// box-sizing: content-box;
		border: 0;
		transition: 0.25s box-shadow ease-in-out;
		&:hover {
			box-shadow: 0 0 1px gray;
		}
		&:focus {
			box-shadow: 0 0 1px gray,
						0 0 1px green inset;
		}
	}
	&[type=checkbox] {

	}
}

fieldset {
	// border: none;
	// padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	input {
		font: inherit;
	}
}