@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic,700,700italic);

* {
	box-sizing: border-box;
}

body {
	font-family: 'Gentium Basic', serif;
	margin: 0;
	float: left;
	width: 100vw;
	>header {
		padding: 0 0.5rem;
	}
	>nav {
		width: 100%;
		float: left;
		margin-bottom: 0.5rem;
		padding: 0.5rem;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			float: left;
			list-style-type: none;
			margin-right: 0.5rem;
		}
	}
}

input {
	&[type=checkbox] {

	}
}

fieldset {
	// border: none;
	// padding: 0;
}