@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import (reference) '_mixins.less';
* {
	box-sizing: border-box;
}

body {
	.flex-container;
	font-family: 'Gentium Basic', serif;
	margin: 0;
	float: left;
	width: 100vw;
	padding: 0.5rem;
	>header {
		padding: 0 0.5rem;
	}
	>nav {
		width: 100%;
		float: left;
		margin-bottom: 0.5rem;
		// padding: 0.5rem;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			float: left;
			list-style-type: none;
			margin-right: 0.5rem;
		}
	}
	>h1 {
		width: 100%;
	}
	.add-item {
		width: 100%;
	}
}



input,
textarea {
	border-radius: 2px;
	&.editable {
		// box-sizing: content-box;
		border: 0;
		transition: 0.25s box-shadow ease-in-out;
		font-family: Source Code Pro, monospace;
		font-size: 1rem;
		&:hover {
			box-shadow: 0 0 1px gray;
		}
		&:focus {
			box-shadow: 0 0 1px gray inset;
		}
	}
}

fieldset {
	// border: none;
	// padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	input {
		font: inherit;
	}
}
.card {
	box-shadow: 0 0 1px gray;
	border-radius: 2px;
	margin-bottom: 1rem;
	padding: 0.5rem;
}